#filter {
  overflow: hidden;
  height: 28px;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
#f_sort,
#f_filter {
  float: left;
  overflow: hidden;
  margin-right: 10%!important;
}
#f_view {
  float: right;
  overflow: hidden;
}
#f_sort li,
#f_filter li,
#f_view li {
  float: left;
  margin-right: 10px;
}

.f_item {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  color: #f28c40;
}
.f_item:hover {
  background-color: #EEE;
  text-decoration: none;
}
.fi_active {
  background-color: #EEE;
}
.fi_icon {
  margin-right: 5px;
  color: #ed7524;
}
@media all and (max-width: 800px) {
  #f_sort,
  #f_filter {
    margin-right: 5%!important;
  }
}