#filter {
  overflow: hidden;
}
#f_sort,
#f_filter {
  float: left;
  overflow: hidden;
  margin-right: 10%;
}
#f_filter {
  margin-right: 0;
}

#f_view {
  float: right;
  overflow: hidden;
}
#f_sort li,
#f_filter li,
#f_view li {
  float: left;
  margin-right: 10px;
}

.f_item {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
  color: #333;
}
.f_item:hover {
  background-color: #EEE;
  text-decoration: none;
}
.fi_active {
  background-color: #EEE;
}
.fi_icon {
  margin-right: 5px;
  color: #ed7524;
}
.fi_custom_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.fi_clear {
  display: inline-block;
  padding: 6px 2px;
  cursor: pointer;
}
.fi_clear.hidden {
  color: #FFF;
  cursor: default;
}
.fi_clear:hover {
  text-decoration: underline;
}
.fi_icon_clear {
  font-size: 1.25rem;
  vertical-align: text-bottom;
  margin-right: 5px;
}
@media all and (max-width: 1000px) {
  #f_sort {
    margin-right: 5%;
  }
}