html, body, form, fieldset, ul, dl, dt, dd, table, td, th, img, menu {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  height: 100%;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #333;
  font: 1em/1.5 sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#wrap {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
#content {
  position: relative;
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
}
#list_view_wrapper {
  height: calc(~"100% - 49px");
}

h1 {
  margin: 0 0 6px;
  font-size: 1.833rem;
  color: #333;
}
h2 {
  padding: 0;
  font-size: 1.5rem;
  line-height: 20px;
  color: #f28c40;
}
h3 {
  margin: 10px 0 15px;
  font-size: 1.333rem;
  font-weight: normal;
  color: #000;
}
h5 {
  margin: 0 0 5px;
  font-size: 1.083rem;
  font-weight: normal;
  color: #000;
}


a {
  color: #4285f4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0;
}

.blocker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
