#list_add_icon {
  display: block;
  width: 150px;
  height: 150px;
  background: url(/images/add.svg) 50% 50% no-repeat;
  background-size: 90%;
  box-shadow: 0 0 5px #CCC;
  border-radius: 10px;
  font-size: 0;
}
#list_add_icon:hover {
  background-color: #EEE;
}