.button {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  padding: 7px 18px;
  border-radius: 16px;
  transition: background .2s;
  vertical-align: middle;
  color: #FFF;
  font-size: 1.25rem;
  cursor: pointer;
}
.button.stretched {
  display: block;
  text-align: center;
}
.button.green {
  background-color: #1ac636;
}
.button.green:hover {
  background-color: #17b231;
}
.button.green:active {
  background-color: #159e2b;
}
.button.gray {
  background-color: #CCC;
}
.button.gray:hover {
  background-color: #b5b5b5;
}
.button.gray:active {
  background-color: #9f9e9e;
}
.button.blue {
  background-color: #2c70b4;
}
.button.blue:hover {
  background-color: #2865a2;
}
.button.blue:active {
  background-color: #235a90;
}
.button.red {
  background-color: #ee3a2e;
}
.button.red:hover {
  background-color: #d63429;
}
.button.red:active {
  background-color: #be2e25;
}
.button .icon {
  margin-right: 8px;
  color: #FFF;
  font-size: 1.5rem;
}
.hidden_text {
  visibility: hidden;
}
.button_loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}
