#comparator-wrap {
  width: 100%;
  padding: 25px 0 0;
  overflow-y: auto;
}
#comparator-table {
  border-collapse: collapse;
  font-size: 1.083rem;
}
#comparator-table tbody tr:hover td {
  background-color: #FFF;
}
#comparator-table td {
  padding: .3em .5rem;
  vertical-align: top;
}
.comparator_item_image_wrap {
  position: relative;
  text-align: center;
}
.comparator_item_image {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 90px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.comparator_item_type_house {
  background-image: url(/images/house.svg);
}
.comparator_item_type_apartment {
  background-image: url(/images/apartment.svg);
}
.comparator_item_name {
  font-size: 1.167rem;
}
#comparator-table price {
  font-size: 1.333rem;
  font-weight: bold;
}

#comparator_params_cell {
  vertical-align: bottom!important;
}
.comparator_params_switcher {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 3px;
}
.comparator_params_switcher:hover {
  background-color: #bad5ed;
  text-decoration: none;
}
.comparator_params_switcher.active,
.comparator_params_switcher.active:hover {
  background-color: #f1ebcf;
  color: #000;
}

.c-table-name {
  width: 210px;
}
.c-table-value {
  width: 150px;
}

.comparator_item_remove {
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -9px;
  font-size: 2rem;
  cursor: pointer;
  color: #777;
}