#manager {
  overflow: hidden;
  padding: 10px;
}
#manager ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#m_sort,
#m_filter {
  float: left;
  overflow: hidden;
  margin-right: 100px!important;
}
#m_view {
  float: right;
  overflow: hidden;
}
#m_sort li,
#m_filter li,
#m_view li {
  float: left;
  margin-right: 10px;
}

.m_item {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.m_item:hover {
  background-color: #EEE;
}
.mi_active {
  background-color: #EEE;
}
.mi_icon {
  margin-right: 5px;
  color: #ed7524;
}