#preview {
  position: relative;
  overflow: hidden;
  padding: 50px 20px 0;
  left: -1px;
  border-left: 1px solid #e6e6e6;
}
#preview price {
  float: right;
  max-width: 300px;
  margin-left: 20px;
  font-size: 1.883rem;
  text-align: right;
  white-space: nowrap;
}
#preview price amount {
  overflow: hidden;
  display: inline-block;
  max-width: 70%;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
#preview address {
  margin-bottom: 8px;
  font-style: normal;
}
.preview_item_title {
  font-size: 1.167rem;
}
.preview_item_value {
  font-size: 1.333rem;
}

#preview-map {
  height: 300px;
}

#preview_empty {
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
#pe_edge {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -3px;
}
#pe_content {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.667rem;
}
