#preview {
  overflow: hidden;
  padding: 50px 20px 0;
}
#preview price {
  float: right;
  font-size: 1.883rem;
}
#preview address {
  font-style: normal;
}

#preview_empty {
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
#pe_edge {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -3px;
}
#pe_content {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.667rem;
}