#overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0 30px;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(60, 175, 222, .8);
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.overlay-enter,
.overlay-appear,
.overlay-leave {
  transition: opacity 0.3s ease-in-out;
}
.overlay-enter,
.overlay-appear,
.overlay-leave.overlay-leave-active {
  opacity: 0;
}
.overlay-enter.overlay-enter-active,
.overlay-appear.overlay-appear-active,
.overlay-leave {
  opacity: 1;
}

#ovl_edge {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#ovl_cont {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 640px;
  padding: 0 24px 24px 24px;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  background-color: #f5f5f5;
  white-space: normal;
  vertical-align: middle;
}
#ovl-close {
  position: absolute;
  left: 100%;
  top: -8px;
  margin-left: 2px;
  padding: 0 10px;
  z-index: 1;
}
#ovl-close-icon {
  position: fixed;
  font-size: 5rem;
  color: #FFF;
}
#ovl-close:hover #ovl-close-icon {
  font-size: 6rem;
  margin: -.5rem 0 0 -.5rem;
}
#ovl_title {
  margin: 0 -24px 24px;
  padding: 8px 0 6px 14px;
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  font-size: 1.667rem;
  font-weight: normal;
  color: #5571ad;
}
