#photo-tape-empty {
  height: 40px;
  margin: 10px 0;
  border: 1px solid #EEE;
  border-left: none;
  border-right: none;
  font-size: 1.5rem;
  line-height: 3.3rem;
}
#photo-tape {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 5px 0;
  border: 1px solid #EEE;
  border-left: none;
  border-right: none;
  font-size: 0;
  white-space: nowrap;
}
.photo-tape-item {
  display: inline-block;
  max-width: 140px;
  max-height: 90px;
  min-height: 50px;
  margin-right: 3px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
}
.photo-tape-end {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  background: linear-gradient(to left, rgba(255,255,255,1) 25%,rgba(255,255,255,0) 100%);
}