.text-input-wrapper {
  position: relative;
  display: inline-block;
}
.text-input {
  width: 238px;
  height: 32px;
  padding: 0 8px;
  border: 1px solid rgba(0, 0, 0, .15);
  font-size: 1.167rem;
  line-height: 1.28572;
  border-radius: 6px;
  vertical-align: middle;
  color: #4d4d4d;
}
.text-input.small {
  width: 100px;
}
.text-input-tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #ffeb99;
  box-shadow: 0 1px 5px #333;
  font-size: 1.167rem;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.tooltip-enter,
.tooltip-appear,
.tooltip-leave {
  transition: opacity 0.3s ease-in-out;
}
.tooltip-enter,
.tooltip-appear,
.tooltip-leave.tooltip-leave-active {
  opacity: 0;
}
.tooltip-enter.tooltip-enter-active,
.tooltip-appear.tooltip-appear-active,
.tooltip-leave {
  opacity: 1;
}